<section>
  <div class="edit-info-header-box">
    <div>
      <img src="assets/icons/tag_black.svg" alt="tag icon" />
      <h2>{{ channel.channelName }}</h2>
    </div>
    <div class="close-icon" (click)="closeEditOpen()"></div>
  </div>

  <div class="edit-channelname-box" [ngClass]="{ editing: isEditingName }">
    <div class="header">
      <h3>Channel-Name</h3>
      <button class="edit-font-btn" (click)="toggleEditName()">
        {{ isEditingName ? "Speichern" : "Bearbeiten" }}
      </button>
    </div>
    <div class="channel-info">
      <img *ngIf="!isEditingName" src="assets/icons/tag_black.svg" alt="" />
      <ng-container *ngIf="isEditingName; else viewMode">
        <div class="input-box">
          <img src="assets/icons/tag_black.svg" class="input-img" alt="" />
          <input
            type="text"
            class="input-transparent"
            [(ngModel)]="channelName"
            name="channelName"
            [placeholder]="channel.channelName"
          />
        </div>
      </ng-container>
      <ng-template #viewMode>
        <span
          >{{ channel.channelName }}
         </span
        >
      </ng-template>
    </div>
  </div>

  <div
    class="edit-channeldescription-box"
    [ngClass]="{ editing: isEditingDescription }"
  >
    <div class="header">
      <h3>Beschreibung</h3>
      <button class="edit-font-btn" (click)="toggleEditDescription()">
        {{ isEditingDescription ? "Speichern" : "Bearbeiten" }}
      </button>
    </div>
    <div class="channel-description">
      <ng-container
        *ngIf="isEditingDescription; else viewModeChannelDescription"
      >
        <div class="input-box">
          <textarea
            class="textarea-transparent"
            [(ngModel)]="channelDescription"
            name="channelDescription"
            [placeholder]="channel.channelDescription"
            (input)="autoResize($event)"
          ></textarea>
        </div>
      </ng-container>
      <ng-template #viewModeChannelDescription>
        <span>{{ channel.channelDescription }}</span>
      </ng-template>
    </div>

    <div class="seperation-line"></div>

    <div>
      <h3>Erstellt von</h3>
    </div>
    <div>
      <span>{{ channel.createdFrom.first_name }}
        {{ channel.createdFrom.last_name }}</span>
    </div>
  </div>
  <div class="btn-box">
    <button class="btn-purple" (click)="saveLeaveChannel()">
      Channel verlassen
    </button>
  </div>
</section>
