<section>
  <div class="edit-info-header-box">
    <div>
      <img src="assets/icons/tag_black.svg" alt="tag icon" />
      <h2>{{ channel.channelName }}</h2>
    </div>
    <div class="close-icon" (click)="closeEditOpen()"></div>
  </div>

  <div class="edit-channelname-box" [ngClass]="{'editing': isEditing}">
    <div class="header">
      <h3>Channel-Name</h3>
      <button class="edit-font-btn" (click)="toggleEdit()">{{ isEditing ? 'Speichern' : 'Bearbeiten' }}</button>
    </div>
    <div class="channel-info">
      <img *ngIf="!isEditing" src="assets/icons/tag_black.svg" alt="" />
      <ng-container *ngIf="isEditing; else viewMode">
        <div class="input-box">
          <img src="assets/icons/tag_black.svg" class="input-img" alt="" />
          <input
            type="text"
            class="input-transparent"
            [(ngModel)]="channelName"
            name="channelName"
            [placeholder]="channel.channelName"
          />
        </div>
      </ng-container>
      <ng-template #viewMode>
        <span>{{ channel.channelName }}</span>
      </ng-template>
    </div>
  </div>

  <div class="edit-channeldescription-box">
    <div>
      <h3>Beschreibung</h3>
      <button class="edit-font-btn">Bearbeiten</button>
    </div>
    <div>
      <span>{{ channel.channelDescription }}</span>
    </div>

    <div class="seperation-line"></div>

    <div>
      <h3>Erstellt von</h3>
    </div>
    <div>
      <span>{{channel.createdFrom}}</span>
    </div>

  </div>
  <div class="btn-box"><button class="btn-purple">Channel verlassen</button></div>

</section>
