<section>
  <div class="outside-box">
    <div class="header-box" >
      <h2>Mitglieder</h2>
      <div class="close-icon" (click)="closeChannelMember()"></div>
    </div>
    <div class="user-box">
      <div *ngFor="let user of allUser" class="single-user-box" (click)="openProfilInfo(user.id)">
        <img src="{{ user.image || user.imagepath }}" alt="" />
        <span>{{ user.first_name }} {{ user.last_name }}</span>
      </div>
    </div>

    <div class="btn-box" (click)="addNewChannelMember()" (mouseover)="onHover(true)"
    (mouseleave)="onHover(false)" [class.btn-box-hovered]="newMemberBtnHovered">
      <div></div>
      <span>Mitglieder hinzufügen</span>
    </div>
  </div>
</section>


