@import "./../../../../styles.scss";

.chat-messages-box {
  @include dFlex($jc: start);
  width: 100%;
  min-height: 141px;
  height: 100%;
  padding: 10px 0;
  position: relative;
  // background-color: $BGShadow;
  &:hover {
    background-color: $BGShadow;
    cursor: pointer;
  }
}

.left-content-box {
  @include dFlex();
  width: 180px;
  height: 100%;
  position: relative;
  > img {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 40px;
    background-color: $White;
  }
}

.right-content-box {
  @include dFlex($ai: start, $jc: start, $g: 8px);
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.message-header-box {
  @include dFlex($g: 20px);
}

.message-header-name {
  font-family: $nunito;
  font-weight: 700;
  font-size: 18px;
  line-height: 24.55px;
}

.message-header-time {
  font-family: $nunito;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.1px;
  color: $Gray;
}

.message-content-box {
  @include dFlex($g: 8px, $jc: start);
  // width: 100%;
  min-height: calc(55px - 30px);
  padding: 15px;
  background-color: $BGShadow;
  border-radius: 0px 30px 30px 30px;
  font-family: $nunito;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.55px;
}

.mirroring {
  transform: scaleX(-1);
}

.mirroring-bubble {
  border-radius: 30px 0 30px 30px;
  background-color: $PalePurple;
  color: white;
  margin-right: 30px;
}

.hoveredBubble {
  background-color: $White;
}

.thread-answer-box {
  @include dFlex($g: 20px);
  font-family: $nunito;
  font-weight: 400;
  > div {
    @include dFlex($g: 6px);
    font-size: 18px;
    line-height: 24.55px;
    color: $PurpleFont;
    transition: font-weight 0.3s ease;
    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
  > span {
    font-size: 14px;
    line-height: 19.1px;
    color: $Gray;
  }
}

.message-input-box {
  @include dFlex($g: 16px);
  flex-direction: column;
  width: 100%;
  > div {
    @include dFlex($g: 32px, $jc: end);
    width: 100%;
  }
}

.width90 {
  width: 90%;
}

.uploaded-image{
  display: flex;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.document-icon{
  width: 50px;
  height: 50px;
}

.document-box{
  @include dFlex();
  flex-direction: column;
}
