<section>
  <div class="devspace-header">
    <div>
      <div>
        <img src="./../../../assets/icons/devspace_lines_icon.svg" alt="" />
      </div>
      <span>Devspace</span>
    </div>
    <button></button>
  </div>

  <div class="channel-box">
    <div class="channel-header-box">
      <div
        class="channel-header"
        (mouseover)="onHoverChannel(true)"
        (mouseout)="onHoverChannel(false)"
        (click)="toggleChannels()"
      >
        <button
          class="dropdown-btn"
          [class.is-hovered-btn]="isHoveredChannel"
          [class.transform90deg]="channelsOpen"
        ></button>
        <div>
          <div [class.is-hovered-image-workspace]="isHoveredChannel"></div>
          <span>Channels</span>
        </div>
      </div>
      <button class="new-channel-btn" (click)="newChannelOpen()"></button>
    </div>
    <div class="channels" *ngIf="channelsOpen">
      <div
        *ngFor="let channel of channels"
        class="single-channel-box"
        (click)="onBoxClick($event); openChannel(channel.id)"
      >
        <div></div>
        <span>{{ channel.channelName }}</span>
      </div>
      <div
        class="add-new-channel-box"
        (mouseover)="onHoverNewChannel(true)"
        (mouseout)="onHoverNewChannel(false)"
        (click)="newChannelOpen()"
      >
        <div [class.is-hovered-image-add-circle]="isHoveredNewChannel"></div>
        <span>Channel hinzufügen</span>
      </div>
    </div>
  </div>

  <div class="direct-message-box">
    <div
      class="channel-message-header"
      (mouseover)="onHoverDm(true)"
      (mouseout)="onHoverDm(false)"
      (click)="showDmUser()"
    >
      <button
        class="dropdown-btn"
        [class.is-hovered-btn-dm]="isHoveredDirectMessage"
        [class.transform90deg]="showUser"
      ></button>
      <div>
        <div [class.is-hovered-image-dm]="isHoveredDirectMessage"></div>
        <span>Direktnachrichten</span>
      </div>
    </div>
    <div class="user-list" *ngIf="showUser">
      <div *ngFor="let user of users">
        <img [src]="user.imagepath || user.image" alt="User Image" />
        <span>{{ user.first_name }} {{ user.last_name }}</span>
      </div>
    </div>
  </div>
</section>

<app-create-new-channel *ngIf="openCreateChannel"></app-create-new-channel>
