@import "./../../../styles.scss";

section {
  @include dFlex($g: 25px, $ai: start, $jc: start);
  background-color: $White;
  margin-left: 16px;
  margin-bottom: 16px;
  padding: 32px 30px;
  flex-direction: column;
  border-radius: 30px;
  height: calc(100% - 16px - 2 * 32px);
  // width: calc(20% - 16px);
  width: 302px;
}

.devspace-header {
  @include dFlex($jc: space-between);
  border-radius: 30px 40px 40px 30px;
  width: 100%;
  height: 60px;
  > div {
    @include dFlex($g: 15px);
    > div {
      @include dFlex();
      width: 60px;
      height: 60px;
      background-image: url("./../../../assets/icons/devspace_icon.svg");
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 40px;
    }
    > img {
      width: 60px;
      height: 60px;
    }
    > span {
      font-family: $nunito;
      font-weight: 700;
      line-height: 32.74px;
      font-size: 24px;
    }
  }
  > button {
    border: 1px solid transparent;
    background-color: $White;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-image: url("./../../../assets/icons/edit_square_black.svg");
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.15s ease, background-image 0.15s ease;
    &:hover {
      cursor: pointer;
      background-color: $BGShadow;
      background-image: url("./../../../assets/icons/edit_square_blue.svg");
    }
  }
}

.channel-box {
  @include dFlex($g: 20px, $ai: start, $jc: space-between);
  background-color: $White;
  border-radius: 30px;
  width: 100%;
  flex-direction: column;
}

.channel-header-box {
  @include dFlex($g: 25px, $jc: space-between);
  width: 100%;
}

.channels {
  @include dFlex($ai: start, $g: 20px);
  width: 100%;
  flex-direction: column;
}

.single-channel-box {
  @include dFlex($g: 10px);
  margin-left: 35px;
  padding: 4px 20px;
  border-radius: 20px;
  height: 25px;
  > div {
    background-image: url("./../../../assets/icons/tag_black.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }
  > span {
    font-family: $nunito;
    font-size: 18px;
    line-height: 24.55px;
    font-weight: 500;
  }
}

.single-channel-box:hover {
  background-color: $BGShadow;
  cursor: pointer;
  > div {
    background-image: url("./../../../assets/icons/tag_blue.svg");
  }
}

.active {
  background-color: $BGShadow;
  color: $PurpleFont;
  > div {
    background-image: url("./../../../assets/icons/tag_blue.svg");
  }
  > span {
    font-weight: 700;
  }
}

.channel-header {
  @include dFlex($g: 25px, $jc: start);
  background-color: $White;
  border-radius: 30px;
  height: 100%;
  transition: color 0.15s ease;
  &:hover {
    color: $PurpleFont;
    cursor: pointer;
  }
  > div {
    @include dFlex($g: 10px);
    > span {
      font-family: $nunito;
      font-size: 20px;
      line-height: 27.28px;
      font-weight: 700;
    }
    > div {
      background-image: url("./../../../assets/icons/workspaces_icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 24px;
      height: 24px;
      transition: background-image 0.15s ease;
    }
  }
}

.dropdown-btn {
  border: 1px solid transparent;
  background-color: $White;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  background-image: url("./../../../assets/icons/arrow_drop_down.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.15s ease, background-image 0.15s ease;
  &:hover {
    background-image: url("./../../../assets/icons/arrow_drop_down_blue.svg");
  }
}

.new-channel-btn {
  border: 1px solid transparent;
  background-color: $White;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  background-image: url("./../../../assets/icons/plus_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.15s ease, background-image 0.15s ease;
  &:hover {
    cursor: pointer;
    background-color: $BGShadow;
    background-image: url("./../../../assets/icons/add_blue.svg");
  }
}

.is-hovered-btn {
  background-image: url("./../../../assets/icons/arrow_drop_down_blue.svg");
  cursor: pointer;
}

.is-hovered-image-workspace {
  background-image: url("./../../../assets/icons/workspaces_blue.svg") !important;
}

.direct-message-box {
  @include dFlex($g: 25px, $ai: start, $jc: space-between);
  background-color: $White;
  border-radius: 30px;
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
}

.direct-message-box::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.direct-message-box::-webkit-scrollbar-thumb {
  background: $PalePurple;
  border-radius: 6px;
  height: 200px;
}

.direct-message-box::-webkit-scrollbar-thumb:hover {
  background: $PurpleFont;
}

.direct-message-box::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.direct-message-box::-webkit-scrollbar-track:hover {
  background: #e0e0e0;
}

.channel-message-header {
  @include dFlex($g: 25px, $jc: start);
  background-color: $White;
  border-radius: 30px;
  // height: 100%;
  transition: color 0.15s ease;
  position: fixed;
  &:hover {
    color: $PurpleFont;
    cursor: pointer;
  }
  > div {
    @include dFlex($g: 10px);
    > span {
      font-family: $nunito;
      font-size: 20px;
      line-height: 27.28px;
      font-weight: 700;
    }
    > div {
      background-image: url("./../../../assets/icons/account_circle_black.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 24px;
      height: 24px;
      transition: background-image 0.15s ease;
    }
  }
}

.is-hovered-btn-dm {
  background-image: url("./../../../assets/icons/arrow_drop_down_blue.svg");
  cursor: pointer;
}

.is-hovered-image-dm {
  background-image: url("./../../../assets/icons/account_circle_blue.svg") !important;
}

.user-list {
  @include dFlex($ai: start, $g: 5px);
  flex-direction: column;
  margin-top: 40px;
  > div {
    @include dFlex($g: 15px);
    // width: 306px;
    height: 58px;
    border-radius: 30px;
    padding: 0 25px 0 25px;
    margin-left: 24px;
    &:hover {
      background-color: $BGShadow;
      cursor: pointer;
    }
    > div {
      @include dFlex();
      width: 100%;
      > span {
        text-align: start;
        font-size: 18px;
        font-family: $nunito;
        line-height: 24.55px;
      }
    }
    > img {
      width: 50px;
      height: 50px;
      border-radius: 30px;
    }
  }
}

.add-new-channel-box {
  @include dFlex($g: 10px, $jc: start);
  padding: 4px 10px;
  margin-left: 47px;
  &:hover {
    color: $PurpleFont;
    cursor: pointer;
  }
  > div {
    background-image: url("./../../../assets/icons/add_circle_black.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
  > span {
    font-family: $nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
  }
}

.is-hovered-image-add-circle {
  background-image: url("./../../../assets/icons/add_circle_blue.svg") !important;
  transform: scale(1.05);
}
