<section>
  <div class="new-channel-box">
    <form action="">
      <div class="header-box">
        <h3>Channel erstellen</h3>
        <div (click)="closeCreateChannelBox()"></div>
      </div>
      <div class="info-box">
        <span
          >Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
          themenbezogen sein #marketing zum Beispiel.</span
        >
      </div>
      <div class="input-box">
        <h4>Channel-Name</h4>
        <div>
          <img src="assets/icons/tag_gray.svg" alt="">
          <input type="text" placeholder="z.B. Kooperationsprojekte" />
        </div>
      </div>
      <div class="input-box">
        <h4 class="optional-text">Beschreibung</h4>
        <textarea name="" id="" placeholder="Dein Text hier"></textarea>
      </div>
      <div class="btn-box">
        <button class="btn-purple">Erstellen</button>
      </div>
    </form>
  </div>
</section>
