@import "./../../../../styles.scss";

section {
  @include dFlex();
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.new-channel-box {
  @include dFlex();
  width: calc(872px - 2 * 40px);
  height: calc(539px - 2 * 40px);
  background-color: $White;
  border-radius: 30px;
  box-shadow: 0px 6px 10px 0px #00000033;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 40px;
  > form {
    @include dFlex($ai: start, $g: 20px);
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}

.header-box {
  @include dFlex($jc: space-between);
  width: 100%;
  > h3 {
    font-family: $nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
    margin: 0;
  }
  > div {
    width: 40px;
    height: 40px;
    background-image: url("./../../../../assets/icons/close_black.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    &:hover {
      background-image: url("./../../../../assets/icons/close_blue.svg");
      background-color: $BGShadow;
      cursor: pointer;
    }
  }
}

.info-box {
  @include dFlex();
  width: 100%;
  > span {
    font-family: $nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
  }
}

.input-box {
  @include dFlex($ai: start, $g: 20px);
  flex-direction: column;
  width: 100%;
  > h4 {
    font-family: $nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    margin: 0;
  }
  > div {
    @include dFlex($ai: start);
    width: 100%;
    position: relative;
    > img {
      position: absolute;
      left: 30px;
      top: 24px;
      width: 16px;
      height: 16px;
    }
  }

  > textarea {
    width: calc(100% - 2 * 20px);
    height: calc(65px - 2 * 18px);
    border-radius: 40px;
    padding: 18px 20px;
    border: 1px solid $lightPurple;
    font-family: $nunito;
    font-size: 18px;
    line-height: 24.55px;
    font-weight: 600;
    color: black;
    resize: none;
    // overflow: hidden;
    &:hover {
      cursor: pointer;
      border-color: $Gray;
    }
    &:focus {
      border-color: $PurpleFont;
      outline: none;
    }
    &:target {
      border-color: $PurpleFont;
      outline: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &::placeholder {
      color: $Gray;
      font-weight: 200;
    }
  }
}

.input-transparent {
  width: calc(100% - 2 * 20px);
  height: calc(60px - 2 * 18px);
  border-radius: 40px;
  padding: 18px 20px 18px 60px;
  border: 1px solid $lightPurple;
  font-family: $nunito;
  font-size: 18px;
  line-height: 24.55px;
  font-weight: 600;
  color: black;
  &:hover {
    cursor: pointer;
    border-color: $Gray;
  }
  &:focus {
    border-color: $PurpleFont;
    outline: none;
  }
  &:target {
    border-color: $PurpleFont;
    outline: none;
  }
  &::placeholder {
    color: $Gray;
    font-weight: 200;
  }
}

.optional-text {
  &::after {
    content: "  (optional)";
    font-weight: 400;
    color: $Gray;
  }
}

.btn-box {
  @include dFlex($jc: end);
  width: 100%;
}

.edit-user-box {
  @include dFlex();
  width: calc(710px - 2 * 40px);
  background-color: $White;
  border-radius: 30px;
  box-shadow: 0px 6px 10px 0px #00000033;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 40px;
  > form {
    @include dFlex($g: 20px);
    width: 100%;
    flex-direction: column;
  }
}

.edit-people-text {
  font-family: $nunito;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.55px;
  cursor: default;
}

.blue-text {
  color: $PurpleFont;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.checkbox-symbol {
  width: 20px;
  height: 20px;
  border: 1px solid #a0a0ff; /* Farbe des Randes */
  border-radius: 50%; /* Kreisform */
  margin-right: 10px;
  position: relative;
  display: inline-block;
}

.checkbox-container input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .custom-checkbox .checkbox-symbol {
  background-color: #6200ea; /* Deine Wunschfarbe */
}

input[type="checkbox"]:checked + .custom-checkbox .checkbox-symbol {
  background-color: #ffffff; /* Hintergrundfarbe (weiß) */
  border-color: #6666ff; /* Randfarbe, wenn angehakt */
}

input[type="checkbox"]:checked + .custom-checkbox .checkbox-symbol::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background-color: #5a5aff; /* Blauer Punkt in der Mitte */
  border-radius: 50%; /* Kreisform */
}

.checkbox-container {
  @include dFlex($jc: start);
  width: 100%;
}

.input-user-box{
  @include dFlex();
  width: 100%;
}

.padding1820{
  padding: 18px 20px !important;
}


.adding-user-box{
  @include dFlex($g: 15px, $ai:start);
  position: absolute;
  z-index: 3;
  width: 267px;
  border-radius: 0px 20px 20px 20px;
  padding: 20px 25px;
  background-color: $White;
  border: 1px solid $lightPurple;
  top: 234px;
  left: 60px;
  flex-direction: column;
  max-height: 320px;
  overflow-y: auto;

  >div{
    @include dFlex($g: 15px);
    border-radius: 35px;
    padding: 4px 20px;
    >img{
      width: 50px;
      height: 50px;
      border-radius: 30px;
    }
    >span{
      font-family: $nunito;
      font-size: 18px;
      font-weight: 400;
      line-height: 24.55px;
    }
  &:hover{
    background-color: $BGShadow;
    cursor: pointer;
  }
  }

}

.selected-user-box{
  @include dFlex($jc:start, $g: 15px);
  width: 100%;
  flex-wrap: wrap;
  >div{
    @include dFlex($g: 15px);
    padding: 3px 10px;
    background-color: $BGShadow;
    height: 40px;
    border-radius: 35px;
    >img{
      width: 34px;
      height: 34px;
      border-radius: 30px;
    }
    >div{
      background-image: url("./../../../../assets/icons/close_black.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      &:hover{
        background-image: url("./../../../../assets/icons/close_blue.svg");
        cursor: pointer;
      }
    }
  }


}
