@import "./../../../../styles.scss";

section {
  @include dFlex();
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.new-channel-box {
  @include dFlex();
  width: calc(872px - 2 * 40px);
  height: calc(539px - 2 * 40px);
  background-color: $White;
  border-radius: 30px;
  box-shadow: 0px 6px 10px 0px #00000033;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 40px;
  > form {
    @include dFlex($ai: start, $g: 20px);
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}

.header-box {
  @include dFlex($jc: space-between);
  width: 100%;
  > h3 {
    font-family: $nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
    margin: 0;
  }
  > div {
    width: 40px;
    height: 40px;
    background-image: url("./../../../../assets/icons/close_black.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    &:hover {
      background-image: url("./../../../../assets/icons/close_blue.svg");
      background-color: $BGShadow;
      cursor: pointer;
    }
  }
}

.info-box {
  @include dFlex();
  width: 100%;
  > span {
    font-family: $nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
  }
}

.input-box {
  @include dFlex($ai: start, $g: 20px);
  flex-direction: column;
  width: 100%;
  > h4 {
    font-family: $nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    margin: 0;
  }
  > div {
    @include dFlex($ai: start);
    width: 100%;
    position: relative;
    > input {
      width: calc(100% - 2 * 20px);
      height: calc(60px - 2 * 18px);
      border-radius: 40px;
      padding: 18px 20px 18px 60px;
      border: 1px solid $lightPurple;
      font-family: $nunito;
      font-size: 18px;
      line-height: 24.55px;
      font-weight: 600;
      color: black;
      &:hover {
        cursor: pointer;
        border-color: $Gray;
      }
      &:focus {
        border-color: $PurpleFont;
        outline: none;
      }
      &:target {
        border-color: $PurpleFont;
        outline: none;
      }
      &::placeholder {
        color: $Gray;
        font-weight: 200;
      }
    }
    > img {
      position: absolute;
      left: 30px;
      top: 24px;
      width: 16px;
      height: 16px;
    }
  }

  > textarea {
    width: calc(100% - 2 * 20px);
    height: calc(65px - 2 * 18px);
    border-radius: 40px;
    padding: 18px 20px;
    border: 1px solid $lightPurple;
    font-family: $nunito;
    font-size: 18px;
    line-height: 24.55px;
    font-weight: 600;
    color: black;
    resize: none;
    // overflow: hidden;
    &:hover {
      cursor: pointer;
      border-color: $Gray;
    }
    &:focus {
      border-color: $PurpleFont;
      outline: none;
    }
    &:target {
      border-color: $PurpleFont;
      outline: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &::placeholder {
      color: $Gray;
      font-weight: 200;
    }
  }
}

.optional-text {
  &::after {
    content: "  (optional)";
    font-weight: 400;
    color: $Gray;
  }
}

.btn-box {
  @include dFlex($jc: end);
  width: 100%;
}
