<div
  (click)="getInformation()"
  class="chat-messages-box"
  [ngClass]="{ mirroring: threadMessage.user?.id === user?.id }"

>
  <div class="left-content-box">
    <img
      src="{{ threadMessage.user?.image || threadMessage.user?.imagepath }}"
      alt=""
      [ngClass]="{ mirroring: threadMessage.user?.id === user?.id }"
    />
  </div>
  <div class="right-content-box">
    <div class="message-header-box">
      <span
        class="message-header-name"
        [ngClass]="{ mirroring: threadMessage.user?.id === user?.id }"
        >{{ threadMessage.user?.first_name }} {{ threadMessage.user?.last_name }}</span
      >
      <span
        class="message-header-time"
        [ngClass]="{ mirroring: threadMessage.user?.id === user?.id }"
        >{{ getTimeFromTimestamp() }}</span
      >
    </div>
    <div
      class="message-content-box"
      [ngClass]="{
        'mirroring & mirroring-bubble': threadMessage.user?.id === user?.id,
        'hoveredBubble': isHovered
      }">
      <ng-container *ngIf="isEditingMessage; else viewModeMessageContent">
        <div class="message-input-box">
          <textarea
            class="textarea-transparent"
            [(ngModel)]="messageContent"
            name="messageContent"
            (input)="autoResize($event)"
          ></textarea>
          <div class="button-group">
            <button (click)="cancelEditing()" class="btn-white">
              Abbrechen
            </button>
            <button (click)="saveThreadMessage()" class="btn-purple">
              Speichern
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #viewModeMessageContent>
        <span>{{ threadMessage.content }}</span>
      </ng-template>
    </div>
    <app-emoji-reaction [message]="threadMessage" [user]="user"></app-emoji-reaction>
  </div>
  <app-thread-reaction-box *ngIf="!reactionBox" [threadMessage]="threadMessage"></app-thread-reaction-box>
</div>
