<div class="profil-box">
  <div class="profil-box-headline">
    <h3>Profil</h3>
    <div (click)="closeProfilInformation()"></div>
  </div>
  <img
    class="openProfilImg"
    src="{{ user?.image || user?.imagepath }}"
    alt=""
  />
  <div class="user-name-and-edit-box">
    <div class="user-name-box">
      <h2>{{ user?.first_name }} {{ user?.last_name }}</h2>
    </div>
    <div class="user-status-box">
      <div></div>
      <span>Aktiv</span>
    </div>
  </div>
  <div class="user-email-box">
    <img src="assets/icons/mail_black.svg" alt="" />
    <div>
      <span>E-Mail-Adresse</span
      ><a href="mailto:{{ user?.email }}">{{ user?.email }}</a>
    </div>
  </div>
  <button class="btn-purple" (click)="closeProfilInformation()">
    <img class="btn-icon" src="assets/icons/chat_bubble_white.svg" alt="" />
    Nachricht
  </button>
</div>
