<section >
  <div class="chat-box" *ngIf="channel">
    <div class="chat-header-box">
      <div
        class="chat-name-box"
      >
        <div
          class="chat-tag-icon"
        ></div>

        <span >Thread</span>
        <span class="channel-name-box"># {{ channel.channelName }}</span>

      </div>
      <div class="fill-box"></div>
      <div >
        <div
          class="close-icon"
          (click)="closeThreadSection()"
        ></div>
      </div>
    </div>

    <div #messagesContainer class="messages-box">
      <div
        *ngFor="
          let message of threadMessages;
          let i = index;
          trackBy: trackByMessageId">
          <span *ngIf="i === 1" class="answer-counter-box">{{threadMessages.length - 1 }} Antworten</span>
        <app-thread-message [threadMessage]="message"> </app-thread-message>
      </div>
    </div>

    <div class="chat-new-message-box">
      <form action="">
        <textarea
          name=""
          id=""
          placeholder="Antworten..."
          [(ngModel)]="newMessage"
          name="newMessage"
        ></textarea>
        <div class="fileUploadField">
          <input
            style="display: none"
            type="file"
            id="fileUploadThread"
            accept="image/*, files"
            (change)="onFileSelected($event)"
          /><span>{{ fileName }}</span>
        </div>
        <div>
          <div>
            <button class="btn-add" (click)="triggerFileInput()"></button>
            <span></span>
            <button class="btn-smiley"></button>
            <!-- <button class="btn-email"></button> -->
          </div>
          <button class="btn-sendmessage" (click)="sendMessage()"></button>
        </div>
      </form>
    </div>
  </div>
</section>
