<section>
  <div class="logo-box"></div>
  <div class="search-box">
    <input type="search" placeholder="Code learning durchsuchen" />
    <img class="search-icon" src="assets/icons/search_icon.svg" alt="" />
  </div>
  <div class="user-box">
    <span>{{user.first_name}} {{ user.last_name}}</span>
    <img src="{{profil_img}}" alt="profilpicture">
    <button (click)="openHeaderMenu()"></button>
    <div class="fullsize-shadow" *ngIf="menuOpen" (click)="openHeaderMenu()"></div>
    <div *ngIf="menuOpen" class="header-menu">
      <button>Profil</button><button (click)="logout()">Log out</button>
    </div>
  </div>
</section>
