<section>
  <div class="logo-box"></div>
  <div class="search-box">
    <input type="search" placeholder="Code learning durchsuchen" />
    <img class="search-icon" src="assets/icons/search_icon.svg" alt="" />
  </div>
  <div class="user-box">
    <span>{{ user.first_name }} {{ user.last_name }}</span>
    <img src="{{ profil_img }}" alt="profilpicture" />
    <button (click)="openHeaderMenu()"></button>
    <div
      class="fullsize-shadow"
      *ngIf="menuOpen || profilOpen || profilEditOpen"
      (click)="closeHeaderMenus()"
    ></div>
    <div *ngIf="menuOpen" class="header-menu">
      <button (click)="openProfil()">Profil</button
      ><button (click)="logout()">Log out</button>
    </div>

    <div class="profil-box" *ngIf="profilOpen">
      <div class="profil-box-headline">
        <h3>Profil</h3>
        <div (click)="openProfil()"></div>
      </div>
      <img class="openProfilImg" src="{{ profil_img }}" alt="" />
      <div class="user-name-and-edit-box">
        <div class="user-name-box">
          <h2>{{ user.first_name }} {{ user.last_name }}</h2>
          <button (click)="openEditProfilInformation()" class="edit-font-btn">
            Bearbeiten
          </button>
        </div>
        <div class="user-status-box">
          <div></div>
          <span>Aktiv</span>
        </div>
      </div>
      <div class="user-email-box">
        <img src="assets/icons/mail_black.svg" alt="" />
        <div>
          <span>E-Mail-Adresse</span
          ><a href="mailto:{{ user.email }}">{{ user.email }}</a>
        </div>
      </div>
    </div>

    <div class="profil-edit-box" *ngIf="profilEditOpen">
      <div class="profil-box-headline">
        <h3>Dein Profil bearbeiten</h3>
      </div>
      <img class="openProfilImg" src="{{ profil_img }}" alt="" />
      <div class="user-edit-name-email-box">
        <div>
          <img src="assets/icons/account_circle_black.svg" alt="" />
          <span>Vollständiger Name</span>
        </div>

        <input
          class="edit-input"
          type="text"
          [(ngModel)]="fullName"
          name="fullName"
        />
      </div>
      <div class="user-edit-name-email-box">
        <div>
          <img src="assets/icons/mail_black.svg" alt="" />
          <span>E-Mail-Adresse</span>
        </div>

        <input
          class="edit-input"
          type="email"
          [(ngModel)]="user.email"
          name="email"
        />
      </div>
      <div class="btn-box">
        <button class="btn-white">Abbrechen</button
        ><button class="btn-purple" (click)="editUserInformation()">
          Speichern
        </button>
      </div>
    </div>
  </div>
</section>
