<div class="message-reaction-box">
  <div class="new-emoji-box" *ngIf="message.emoji_check.length >= 1 || message.emoji_handsup.length >= 1 || message.emoji_nerd.length >= 1 || message.emoji_rocket.length >= 1">
    <button (mouseenter)="hoverNewEmojiBox(true)"
    (mouseleave)="hoverNewEmojiBox(false)">
      <app-new-emoji [message]="message" [user]="user" *ngIf="newEmojiHovered"></app-new-emoji>
    </button>
  </div>
  <div
    class="emoji-box"
    *ngIf="message.emoji_check.length >= 1"
    [ngClass]="{
      mirroring: message.user?.id === user?.id
    }"
    (mouseenter)="hoverEmoji(true, 'Check')"
    (mouseleave)="hoverEmoji(false, 'Check')"
    (click)="checkThreadOrMessage('check')"
  >
    <img src="assets/icons/emoji_check_green.svg" alt="emoji checked" />
    <span>{{ message.emoji_check.length }}</span>
    <div *ngIf="emojiCheckHovered" class="emoji-hovered-box">
      <img src="assets/icons/emoji_check_green.svg" alt="emoji checked" />
      <div>
        <span *ngFor="let user of message.emoji_check; let i = index">
          <span *ngIf="user.id !== userId"
            >{{ user.first_name }} {{ user.last_name }}</span
          >
          <span *ngIf="i >= 1">und </span>
          <span *ngIf="user.id === userId">Du</span>
        </span>
        <span>hat reagiert</span>
      </div>
    </div>
  </div>
  <div
    class="emoji-box"
    *ngIf="message.emoji_handsup.length >= 1"
    [ngClass]="{
      mirroring: message.user?.id === user?.id
    }"
    (mouseenter)="hoverEmoji(true, 'HandsUp')"
    (mouseleave)="hoverEmoji(false, 'HandsUp')"
    (click)="checkThreadOrMessage('handsup')"
  >
    <img src="assets/icons/emoji_raise_hands.svg" alt="emoji checked" />
    <span>{{ message.emoji_handsup.length }}</span>
    <div *ngIf="emojiHandsUpHovered" class="emoji-hovered-box">
      <img src="assets/icons/emoji_raise_hands.svg" alt="emoji checked" />
      <div>
        <span *ngFor="let user of message.emoji_handsup; let i = index">
          <span *ngIf="user.id !== userId"
            >{{ user.first_name }} {{ user.last_name }}</span
          >
          <span *ngIf="i >= 1">und </span>
          <span *ngIf="user.id === userId">Du</span>
        </span>
        <span>hat reagiert</span>
      </div>
    </div>
  </div>
  <div
    class="emoji-box"
    *ngIf="message.emoji_rocket.length >= 1"
    [ngClass]="{
      mirroring: message.user?.id === user?.id
    }"
    (mouseenter)="hoverEmoji(true, 'Rocket')"
    (mouseleave)="hoverEmoji(false, 'Rocket')"
    (click)="checkThreadOrMessage('rocket')"
  >
    <img src="assets/icons/emoji_rocket.svg" alt="emoji checked" />
    <span>{{ message.emoji_rocket.length }}</span>
    <div *ngIf="emojiRocketHovered" class="emoji-hovered-box">
      <img src="assets/icons/emoji_rocket.svg" alt="emoji checked" />
      <div>
        <span *ngFor="let user of message.emoji_rocket; let i = index">
          <span *ngIf="user.id !== userId"
            >{{ user.first_name }} {{ user.last_name }}</span
          >
          <span *ngIf="i >= 1">und </span>
          <span *ngIf="user.id === userId">Du</span>
        </span>
        <span>hat reagiert</span>
      </div>
    </div>
  </div>
  <div
    class="emoji-box"
    *ngIf="message.emoji_nerd.length >= 1"
    [ngClass]="{
      mirroring: message.user?.id === user?.id
    }"
    (mouseenter)="hoverEmoji(true, 'Nerd')"
    (mouseleave)="hoverEmoji(false, 'Nerd')"
    (click)="checkThreadOrMessage('nerd')"
  >
    <img src="assets/icons/emoji_nerd.svg" alt="emoji checked" />
    <span>{{ message.emoji_nerd.length }}</span>
    <div *ngIf="emojiNerdHovered" class="emoji-hovered-box">
      <img src="assets/icons/emoji_nerd.svg" alt="emoji checked" />
      <div>
        <span *ngFor="let user of message.emoji_nerd; let i = index">
          <span *ngIf="user.id !== userId"
            >{{ user.first_name }} {{ user.last_name }}</span
          >
          <span *ngIf="i >= 1">und </span>
          <span *ngIf="user.id === userId">Du</span>
        </span>
        <span>hat reagiert</span>
      </div>
    </div>
  </div>
</div>
