<app-header-main-content [users]="users" [user]="user"></app-header-main-content>
<section class="main-content">
  <div
    *ngIf="devspaceOpen"
    class="devspace-section-btn"
    (mouseover)="onHoverDevspace(true)"
    (mouseout)="onHoverDevspace(false)"
    (click)="closeDevspace()"
  >
    <span>Workspace-Menü schließen</span>
    <img [src]="menuIconOpen" alt="openDevspaceIcon" />
  </div>
  <div
    *ngIf="!devspaceOpen"
    class="devspace-section-btn"
    (mouseover)="onHoverDevspace(true)"
    (mouseout)="onHoverDevspace(false)"
    (click)="closeDevspace()"
  >
    <span>Workspace-Menü öffnen</span>
    <img [src]="menuIconClose" alt="openDevspaceIcon" />
  </div>
  <div class="main-sections">
    <app-devspace-section *ngIf="devspaceOpen && !isMobileView || devspaceMediaOpen && isMobileView" [user]="user" [users]="users" ></app-devspace-section>
    <app-chat-section *ngIf="chatChannelOpen && !isMobileView || chatMediaOpen && isMobileView && !threadMediaOpen" [users]="users"></app-chat-section>
    <app-thread-section *ngIf="threadOpen && !isMobileView || threadMediaOpen && isMobileView" [users]="users" [user]="user"></app-thread-section>
    <app-profil-info></app-profil-info>
  </div>
</section>
