/* You can add global styles to this file, and also import other style files */

//   colors     //

$Purple: #444df2;
$PalePurple: #797ef3;
$lightPurple: #adb0d9;
$Gray: #686868;
$PurpleFont: #535af1;
$Error: #ed1e79;
$BGShadow: #eceefe;
$White: #ffffff;
$Online: #92c83e;
$LinkBlue: #1381ff;
$InputBorder: #adb0d9;

//   fonts     //

$InterFont: "Inter";
$nunito: "Nunito";
$figtree: "Figtree";
$openSans: "Open Sans";

/* inter-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("assets/fonts/inter-v13-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("assets/fonts/inter-v13-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/inter-v13-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/inter-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/inter-v13-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/inter-v13-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/inter-v13-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/inter-v13-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("assets/fonts/inter-v13-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/nunito-v26-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* figtree-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Figtree";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/figtree-v5-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/open-sans-v40-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

//    General    //

@mixin dFlex($jc: center, $ai: center, $g: 0px) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

body {
  margin: 0;
  background-color: $BGShadow;
  width: 100vw;
  height: 100vh;
}

/// buttons ///

.btn-white {
  @include dFlex();
  height: 100%;
  max-height: 49px;
  padding: 12px 25px;
  border-radius: 25px;
  border: 1px solid $Purple;
  background-color: $White;
  color: $Purple;
  font-family: $nunito;
  font-weight: 700;
  font-size: 18px;
  line-height: 24.55px;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.2s ease, color 0.2s ease;
  text-wrap: nowrap;
  &:hover {
    cursor: pointer;
    background-color: $Purple;
    color: $White;
  }
}

.btn-purple {
  @include dFlex();
  height: 100%;
  max-height: 49px;
  padding: 12px 25px;
  border-radius: 25px;
  border: 1px solid $Purple;
  background-color: $Purple;
  color: $White;
  font-family: $nunito;
  font-weight: 500;
  font-size: 18px;
  line-height: 24.55px;
  transition: transform 0.3s ease, opacity 0.2s ease;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  &:disabled {
    background-color: $Gray;
    border-color: $Gray;
    cursor: auto;
    &:hover {
      opacity: 1;
    }
  }
}

.transform90deg {
  transform: rotate(90deg);
}

@mixin btn-icon-styles($background-image) {
  border: none;
  background-color: $White;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url($background-image);
  border-radius: 20px;
}

@mixin btn-icon-hover($background-image) {
  background-color: $BGShadow;
  background-image: url($background-image);
  cursor: pointer;
}

.close-icon {
  width: 40px;
  height: 40px;
  background-image: url("./assets/icons/close_black.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  &:hover {
    background-image: url("./assets/icons/close_blue.svg");
    background-color: $BGShadow;
    cursor: pointer;
  }
}

.edit-font-btn {
  color: $PurpleFont;
  font-weight: 500;
  font-size: 18px;
  line-height: 24.55px;
  border: none;
  background-color: $White;
  transition: transform 0.15s ease;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.fullsize-shadow {
  @include dFlex();
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.input-transparent{
  width: calc(100% - 2 * 20px);
  height: calc(60px - 2 * 18px);
  border-radius: 40px;
  padding: 18px 20px 18px 60px;
  border: 1px solid $lightPurple;
  font-family: $nunito;
  font-size: 18px;
  line-height: 24.55px;
  font-weight: 600;
  color: black;
  &:hover {
    cursor: pointer;
    border-color: $Gray;
  }
  &:focus {
    border-color: $PurpleFont;
    outline: none;
  }
  &:target {
    border-color: $PurpleFont;
    outline: none;
  }
  &::placeholder {
    color: $Gray;
    font-weight: 200;
  }
}
