<section>
  <div class="chat-box" *ngIf="channel">
    <div class="chat-header-box">
      <div
        class="chat-name-box"
        (mouseover)="onHover(true)"
        (mouseleave)="onHover(false)"
        (click)="openChannelEditMenu()"
      >
        <div
          class="chat-tag-icon"
          [class.chat-tag-icon-hovered]="channelNameHovered"
        ></div>
        <span>{{ channel.channelName }}</span>
        <div
          class="chat-arrowdown-icon"
          [class.chat-arrow-icon-hovered]="channelNameHovered"
        ></div>
      </div>
      <div class="fill-box"></div>
      <div>
        <div class="users-avatars-box">
          <div class="user-avatars">
            <div
              *ngFor="
                let user of usersFromChannel | slice : 0 : 3;
                let i = index
              "
              (click)="openChannelMember()"
            >
              <img src="{{ user.image || user.imagepath }}" alt="" />
            </div>
            <span class="user-count">{{ usersFromChannel.length }}</span>
          </div>
        </div>
        <div
          class="adding-user-btn"
          (click)="openAddNewChannelMemberOpen()"
        ></div>
      </div>
      <app-channel-info
        *ngIf="channelInfoOpen"
        [channel]="channel"
        [user]="user"
      ></app-channel-info>
      <app-new-channel-member
        *ngIf="addNewChannelMemberOpen"
        [channel]="channel"
        [allUser]="users"
      ></app-new-channel-member>
      <app-channel-member
        *ngIf="channelMemberOpen"
        [channel]="channel"
        [allUser]="usersFromChannel"
      >
      </app-channel-member>
    </div>

    <div #messagesContainer class="messages-box">
      <div
        *ngFor="
          let message of messages;
          let i = index;
          trackBy: trackByMessageId
        "
      >
        <div *ngIf="isFirstMessageOfDay(message, i)" class="date-outside-box">
          <div class="line-box"></div>
          <div class="date-box">{{ getFormattedDate(message.timestamp) }}</div>
          <div class="line-box"></div>
        </div>

        <app-message [message]="message"> </app-message>
      </div>
    </div>

    <div class="chat-new-message-box">
      <form action="">
        <textarea
          name=""
          id=""
          placeholder="Nachricht an #{{ channel.channelName }}"
          [(ngModel)]="newMessage"
          name="newMessage"
        ></textarea>
        <div>
          <div>
            <button class="btn-add"></button>
            <span></span>
            <button class="btn-smiley"></button>
            <button class="btn-email"></button>
          </div>
          <button class="btn-sendmessage" (click)="sendMessage()"></button>
        </div>
      </form>
    </div>
  </div>
</section>
<div
  class="fullsize-shadow"
  *ngIf="channelInfoOpen || addNewChannelMemberOpen || channelMemberOpen"
  (click)="closeAllComponents()"
></div>
