<section *ngIf="users.length >= 1">
  <div class="chat-box" *ngIf="channel">
    <div class="chat-header-box">
      <div
        class="chat-name-box"
        (mouseover)="onHover(true)"
        (mouseleave)="onHover(false)"
        (click)="openChannelEditMenu()"
        *ngIf="!channel.privateChannel"
      >
        <div
          *ngIf="!channel.privateChannel"
          class="chat-tag-icon"
          [class.chat-tag-icon-hovered]="channelNameHovered"
        ></div>

        <span *ngIf="!channel.privateChannel">{{ channel.channelName }}</span>

        <div
          class="chat-arrowdown-icon"
          [class.chat-arrow-icon-hovered]="channelNameHovered"
        ></div>
      </div>
      <div
        *ngIf="channel.privateChannel"
        class="chat-name-box"
        (mouseover)="onHover(true)"
        (mouseleave)="onHover(false)"
        (click)="openProfilInformation(this.chatPartner!.id)"
      >
        <img
          src="{{ this.chatPartner?.image || this.chatPartner?.imagepath }}"
          class="privat-channel-user-icon"
          alt="user-image"
        />
        <span *ngIf="channel.privateChannel"
          >{{ chatPartner?.first_name }} {{ chatPartner?.last_name }}</span
        >
      </div>
      <div class="fill-box"></div>
      <div *ngIf="!channel.privateChannel">
        <div class="users-avatars-box">
          <div class="user-avatars">
            <div
              *ngFor="
                let user of usersFromChannel | slice : 0 : 3;
                let i = index
              "
              (click)="openChannelMember()"
            >
              <img src="{{ user.image || user.imagepath }}" alt="" />
            </div>
            <span class="user-count">{{ usersFromChannel.length }}</span>
          </div>
        </div>
        <div
          class="adding-user-btn"
          (click)="openAddNewChannelMemberOpen()"
        ></div>
      </div>
      <app-channel-info
        *ngIf="channelInfoOpen"
        [channel]="channel"
        [user]="user"
      ></app-channel-info>
      <app-new-channel-member
        *ngIf="addNewChannelMemberOpen"
        [channel]="channel"
        [allUser]="users"
      ></app-new-channel-member>
      <app-channel-member
        *ngIf="channelMemberOpen"
        [channel]="channel"
        [allUser]="usersFromChannel"
      >
      </app-channel-member>
    </div>

    <div
      #messagesContainer
      class="messages-box"
      [ngClass]="{ 'justify-content-end': messages.length === 0 }"
    >
      <div
        class="message-inside-box"
        *ngFor="
          let message of messages;
          let i = index;
          trackBy: trackByMessageId
        "
      >
        <div *ngIf="isFirstMessageOfDay(message, i)" class="date-outside-box">
          <div class="line-box"></div>
          <div class="date-box">{{ getFormattedDate(message.timestamp) }}</div>
          <div class="line-box"></div>
        </div>

        <app-message [message]="message"> </app-message>
      </div>
      <div
        *ngIf="messages.length <= 0 && !channel.privateChannel"
        class="message-channel-empty-box"
      >
        <div>
          <div
            *ngIf="!channel.privateChannel"
            class="chat-tag-icon"
            [class.chat-tag-icon-hovered]="channelNameHovered"
          ></div>

          <span
            *ngIf="!channel.privateChannel"
            class="message-channel-empty-header"
            >{{ channel.channelName }}</span
          >
        </div>
        <div>
          <span class="message-channel-empty-text">
            Du hast diesen Channel heute erstellt. Das ist der Anfang des
            Channels
          </span>
          <span class="message-channel-empty-bluetext"
            ># {{ channel.channelName }}</span
          >
        </div>
      </div>
    </div>

    <div
      *ngIf="channel.privateChannel && messages.length == 0"
      class="privat-channel-message-box"
    >
      <div class="privat-channel-message-header-box">
        <img
          src="{{ this.chatPartner?.image || this.chatPartner?.imagepath }}"
          alt="channelPartner image"
        />
        <span>{{ chatPartner?.first_name }} {{ chatPartner?.last_name }}</span>
      </div>
      <div class="privat-channel-message-infotext-box">
        <span>Diese Unterhaltung findet nur zwischen </span>
        <button>
          &#64;{{ chatPartner?.first_name }} {{ chatPartner?.last_name }}
        </button>
        <span>und dir statt.</span>
      </div>
    </div>

    <div class="chat-new-message-box">
      <form action="">
        <textarea
          name=""
          id=""
          placeholder="Nachricht an #{{ channel.channelName }}"
          [(ngModel)]="newMessage"
          name="newMessage"
        ></textarea>
        <div class="fileUploadField">
          <input
            style="display: none"
            type="file"
            id="fileUpload"
            accept="image/*, files"
            (change)="onFileSelected($event)"
          /><span>{{ fileName }}</span>
        </div>

        <div>
          <div>
            <button class="btn-add" (click)="triggerFileInput()"></button>

            <span></span>
            <button class="btn-smiley"></button>
            <button class="btn-email"></button>
          </div>
          <button class="btn-sendmessage" (click)="sendMessage()"></button>
        </div>
      </form>
    </div>
  </div>
</section>
<div
  class="fullsize-shadow"
  [class.fullsize-shadow-second-level]="profilInformationOpen"
  *ngIf="channelInfoOpen || addNewChannelMemberOpen || channelMemberOpen"
  (click)="closeAllComponents()"
></div>
<app-profil-info
  [users]="usersFromChannel"
  [userId]="userId"
  *ngIf="profilInformationOpen"
></app-profil-info>
