<section>
  <div class="login-box">
    <div class="headline-box">
      <h2>Anmeldung</h2>
      <span
        >Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
        verwendest.</span
      >
    </div>
    <div class="login-input-box">
      <form action="login()">
        <div class="input-box">
          <div>
            <img src="assets/icons/mail.svg" alt="email icon" />
            <input
              type="email"
              placeholder="beispielname@email.com"
              name="email"
              [(ngModel)]="email"
              required
            />
          </div>
          <span class="error-text" *ngIf="EmailInvalid"
            >*Diese E-Mail-Adresse ist leider ungültig
          </span>
        </div>
        <div class="input-box">
          <div>
            <img src="assets/icons/lock.svg" alt="lock icon" />
            <input
              type="password"
              placeholder="Passwort"
              name="password"
              [(ngModel)]="password"
              required
            />
          </div>
          <span class="error-text" *ngIf="PwOrEmailWrong"
            >Falsches Passwort oder E-Mail.. Bitte noch einmal versuchen.</span
          >
        </div>
      </form>
      <button (click)="changeToResetPasswortComponent()">
        Passwort vergessen?
      </button>
    </div>
    <div class="or-container">
      <span>ODER</span>
    </div>
    <div class="login-google-box">
      <button data-onsuccess="onSignIn">
        <div>
          <img src="assets/icons/google.svg" alt="" />
          Anmelden mit Google
        </div>
      </button>
    </div>
    <div class="btn-box">
      <button class="btn-purple" (click)="login()">Anmelden</button>
      <button class="btn-white">Gäste-Login</button>
    </div>
  </div>
  <div class="go-to-regestration-box">
    <span>Neu bei DABubble?</span>
    <button (click)="changeToRegestration()">Konto erstellen</button>
  </div>
</section>
