@import "./../../../styles.scss";

section {
  @include dFlex();
  width: 100%;
  height: 100%;
}

.login-box {
  @include dFlex($g: 30px); // gap ist noch fiktiv gesetzt
  background-color: $White;
  width: 100%;
  max-width: calc(606px - 2 * 20px);
  height: 100%;
  max-height: calc(700px);
  border-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  flex-direction: column;
  margin: 30px;
  padding: 0px 20px;
}

.headline-box {
  @include dFlex($g: 30px);
  width: 100%;
  max-width: 486px;
  height: 133px;
  max-height: 133px;
  flex-direction: column;
  > h2 {
    display: flex;
    font-family: $nunito;
    font-weight: 700;
    font-size: 46px;
    line-height: 55.2px;
    align-items: center;
    color: $Purple;
    margin: 0;
    &:hover {
      cursor: default;
    }
  }
  > span {
    width: 100%;
    max-width: 486px;
    height: 48px;
    max-height: 48px;
    font-family: $nunito;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    &:hover {
      cursor: default;
    }
  }
}

.login-input-box {
  @include dFlex($ai: start);
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 222px;
  > form {
    @include dFlex($jc: space-between);
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}

.input-box {
  @include dFlex();
  width: 100%;
  height: 100%;
  max-height: 60px;
  flex-direction: column;
  > div {
    @include dFlex();
    width: 100%;
    position: relative;
    > input {
      max-width: calc(500px - 32px - 82px);
      flex: 1;
      height: calc(60px - 2 * 18px);
      border-radius: 6.25rem;
      border: 1px solid $BGShadow;
      padding: 18px 32px 18px 82px;
      background-color: $BGShadow;
      font-size: 18px;
      line-height: 21.6px;
      &:hover {
        cursor: pointer;
        border-color: $Gray;
      }
      &:focus{
        border-color: $PurpleFont;
        outline: none;
      }
      &:target{
        border-color: $PurpleFont;
        outline: none;
      }
    }
    > img {
      position: absolute;
      left: 32px;
    }
  }
}

.error-text {
  width: 100%;
  padding-top: 4px;
  color: $Error;
}

a {
  @include dFlex($g: 10px);
  width: 200px;
  height: 32px;
  font-family: $figtree;
  font-size: 18px;
  line-height: 21.6px;
  color: $PalePurple;
  text-decoration: none;
  font-weight: 400;
  &:hover {
    background-color: $BGShadow;
    border-radius: 30px;
    color: $Purple;
    font-weight: 500;
  }
}

.or-container {
  @include dFlex();
  position: relative;
  white-space: nowrap;
  width: 100%;
  max-width: 500px;
  > span {
    font-family: $nunito;
    font-size: 18px;
    line-height: 24.55px;
    &:hover {
      cursor: default;
    }
  }
}

.or-container::before,
.or-container::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid $lightPurple;
  margin: 0 10px; /* Abstand zum Text */
}

.login-google-box {
  @include dFlex();
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 60px;

  > button {
    @include dFlex($g: 10px);
    padding: 11px 32px;
    border-radius: 100px;
    border: 0px;
    background-color: $BGShadow;
    width: 100%;
    height: 100%;
    font-family: $nunito;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    color: $Purple;
    overflow: hidden;
    position: relative;
    &:hover {
      cursor: pointer;
      font-weight: 700;
      color: $Purple;
      border: 0.5px solid $Purple;
    }
    > div {
      @include dFlex($g: 10px);
      width: 100%;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.btn-box {
  @include dFlex($g: 30px);
  width: 100%;
}


.go-to-regestration-box{
  @include dFlex($g:12px, $ai: end);
  position: absolute;
  top: 80px;
  right: 80px;
  flex-direction: column;
  >span{
  font-family: $nunito;
  font-size: 18px;
  line-height: 24.55px;
  }
  >button{
    position: relative;
    right: -15px;
    border: none;
    background-color: $BGShadow;
    color: $PalePurple;
    font-family: $figtree;
    border-radius: 30px;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid transparent;
    &:hover{
      cursor: pointer;
      color: $Purple;
      font-weight: 500;
      border-color: $lightPurple;
    }
  }
}

/// mobile ///
/// change font size from input fields to smaller size for flex
